<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle btn--select" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Projekte zur Beteiligung
    </a>
    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="/fahrrad">Eigenes Fahrrad</a>
        <a class="dropdown-item" href="/leihrad">Leihrad</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="/roboter">Roboter</a>
    </div>
</li>

<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle btn--select" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Datenauswertung
    </a>
    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="/fahrrad">Comming Soon</a>
        <div class="dropdown-divider"></div>
    </div>
</li>