{% load userindicator static i18n thumbnail %}
{% get_current_language as LANGUAGE_CODE %}

<header class="header-upper" aria-label="{% trans 'Header' %}">
    <div class="u-page-ribbon"></div>

    <nav class="navbar navbar-expand-md navbar navbar-expand-lg navbar-light bg-light">
        <div class="container position-relative">
            <a class="navbar-brand header-upper__brand" href="/">
                <img src="/static/images/R4R-Logo.svg" alt="{{ settings.a4_candy_cms_settings.OrganisationSettings.platform_name }}" class="header-upper__brand-img" />
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                Navigation
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    {% include 'includes/header_navbar.html' %}
                </ul>
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="https://r4r.informatik.tu-freiberg.de">Blog</a>
                    </li>
                    {%  with pages=settings.a4_candy_cms_settings.ImportantPages %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle btn--select" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {% trans 'Über Uns' %}
                            </a>
                            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                {% if pages.imprint %}
                                <a class="dropdown-item" href="{{ pages.imprint.url }}">{% trans 'Imprint' %}</a>
                                {% endif %}
                                {% if pages.terms_of_use %}
                                <a class="dropdown-item" href="{{ pages.terms_of_use.url }}">{% trans 'Terms of use' %}</a>
                                {% endif %}
                                {% if pages.data_protection_policy %}
                                <a class="dropdown-item" href="{{ pages.data_protection_policy.url }}">{% trans 'Data protection policy' %}</a>
                                {% endif %}
                                {% if pages.netiquette %}
                                <a class="dropdown-item" href="{{ pages.netiquette.url }}">{% trans 'Netiquette' %}</a>
                                {% endif %}
                                {% if pages.contact %}
                                <a class="dropdown-item" href="{{ pages.contact.url }}">{% trans 'Contact' %}</a>
                                {% endif %}
                                {% if pages.manual_link %}
                                <a class="dropdown-item" href="{{ pages.manual_link }}">{% trans 'Manual' %}</a>
                                {% endif %}
                            </div>
                        </li>
                    {% endwith %}
                    <li class="nav-item header-upper__lang">
                        {% include 'includes/header_language_switch.html' %}
                    </li>
                </ul>
            </div>
            <ul class="header-upper__nav navbar-nav ms-auto">
                <li class="nav-item header-upper__user" >
                    {% userindicator %}
                </li>
            </ul>
        </div>
    </nav>
</header>
